/*
!/.gitignore
!/.minttyrc
!/.tmux.conf
!/.profile.d

!/.vimrc
!/.gvimrc
!/.vim
/.vim/*
!/.vim/bundle

!/.emacs.d
/.emacs.d/*
!/.emacs.d/init.el
!/.emacs.d/init.d
/.emacs.d/init.d/*
!/.emacs.d/init.d/*.el
!/.emacs.d/packages

!/bin

!/tmp
/tmp/*
!/tmp/.gitkeep

!/opt
/opt/*
!/opt/.gitkeep

!/opt/bin
/opt/bin/*
!/opt/bin/.gitkeep

\#*\#
*~
*.elc
.*.swp
.*.swo
