[submodule ".vim/bundle/vim-pathogen"]
	path = .vim/bundle/vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule ".vim/bundle/vim-vividchalk"]
	path = .vim/bundle/vim-vividchalk
	url = git://github.com/tpope/vim-vividchalk.git
