/*
/.*.swp
/.*.swo
/*~
!/.gitignore
!/.bash_aliases
!/.bash_profile
!/.profile
!/.bashrc
!/.minttyrc
!/.curlrc

!/.ssh
/.ssh/*
!/.ssh/config

!/.vimrc
!/.gvimrc
!/.vim
/.vim/*
!/.vim/bundle

!/.emacs.d

!/Software
!/bin
