/*

!/.gitignore

!/.config
/.config/*
!/.config/awesome
/.config/awesome/*
!/.config/awesome/rc.lua
!/.config/i3
.config/i3/*
!.config/i3/config
!/.config/i3status
/.config/i3status/*
!/.config/i3status/config
!/.config/vim
/.config/vim/*
!/.config/vim/rc

!/.config/bspwm
!/.config/sxhkd
!/.config/bash
!/.config/fish

!/.ssh
/.ssh/*
!/.ssh/config.dist

!/bin

!/docs
/docs/*
!/docs/.gitkeep

!/opt
/opt/*
!/opt/.gitkeep

!/opt/bin
/opt/bin/*
!/opt/bin/.gitkeep

!/src
/src/*
!/src/.gitkeep

!/tmp
/tmp/*
!/tmp/.gitkeep

\#*\#
*~
*.elc
.*.swp
.*.swo
*.DS_Store
